@use "sass:color";
@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use "../components/separation-section" as *;
@use "../components/boutons" as *;


/* Scope page */
body.page-mentions {
    font-family: $font-body;
    color: #031837;
    background-color: $creme;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;

    img { max-width: 100%; height: auto; display: block; }
    a { text-decoration: none; color: inherit; }
    a:hover {color: $vert1;}
    
    h1 {
    color: $bleu;
    font-family: $font-titles;
    font-weight: 800;
    font-size: $h1-size;
    text-align: center;
    line-height: 1.18;
    padding: clamp(0.5rem, 0.143rem + 0.952vw, 1rem);
    }

    h2 {
        font-family: $font-titles;
        font-size: $h2-size;
        color: $vert1;
        margin-bottom: 1.5rem;
        line-height: clamp(2.2rem,5vw,3rem);
    }

    p { 
        font-size: $p-size;
        text-align: justify;
        line-height: 1.8; 
        margin-bottom: 1.2rem; 
    }



    main {


        .muted { opacity: .9; }

        /* Sections (sans décor, juste padding + container) */
        .mentions {
            padding: $padding-marge-section;
            color: $bleu;

            .mentions-container {
                width: min(1100px, 92vw);
                margin: 0 auto;

                /* listes simples */
                .list-bullets {
                    padding-left: clamp(1rem, .2rem + 2vw, 1.5rem);
                    margin: .6rem 0 1rem;
                    li { margin-bottom: .6rem; }
                }

                /* grille 2 colonnes responsive (pour RGPD) */
                .grid-two {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: clamp(1rem, .5rem + 1vw, 1.6rem);

                    @media (max-width: 992px) {
                    grid-template-columns: 1fr;
                    }
                }
                .ddd {
                    color: rgb(255, 72, 0);
                    font-weight: bolder;
                    font-family: 'Monotype Corsiva';
                }
            }
        }
    }
}


