// ========================
// === SIDE MENU (global)
// ========================
@use "sass:color";
@use '../utils/variables' as *;
@use '../utils/mixins' as *;


.hero-section { 
  position: relative;
  display: flex;
  // min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: $color-bg;
  // background: url('../../images/photo-accueil_hero.webp') center/cover no-repeat;

    .hero-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(26, 46, 77, 0.75);
    z-index: 1;
  }

  // ===== Hero Content =====
  .hero-content {
    position: relative;
    z-index: 2;
    width: min(1400px, 92vw);
    padding: clamp(1rem, 3vw, 2rem);
    text-align: center;

    h2 {
      font-size: $h3-size;
      line-height: 1.45;
      margin-top: clamp(0.2rem, 2vw, 1rem);
      margin-bottom: clamp(1rem, 2vw, 2.2rem);
      color: $vert3; 
      font-weight: 600;
    }

    p {
      font-size: $p-size;
      // line-height: 1.9;
      margin-bottom: clamp(1rem, 1.5vw, 2rem);
      margin-top: clamp(1rem, 1.2vw, 1.6rem);
      color: rgba($color-bg, 0.9);
    }
    
    .objectif {
      font-size: $h3-size; 
      font-weight: 600;
    }
  }

  // ===== Responsive =====
  @media screen and (max-width: 1024px) {
    & {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .hero-content { margin-left: 0 }
  }
}

