// ========================
// === IMPORT VARIABLES ===
// ========================
@use '../utils/variables' as *;




// ===========================
// = Section A qui s'adresse =
// ===========================
.simulateur-section {
  // background-color: $creme;
  padding: $padding-marge-section;
  text-align: justify;

  .simulateur-container {
    width: min(1100px, 92vw); 
    margin: 0 auto;


    h2 {
      font-size: $h2-size;
      color: $vert1;
      margin-bottom: 2rem;
      font-family: $font-titles;
      text-align: left;
      line-height: clamp(2.2rem,5vw,3rem);
    }

    h4 {
      font-size: $h4-size;
      color: $violet;
      margin-top: clamp(1rem, -0.429rem + 3.81vw, 3rem);
    }

    .simulateur-text {
      margin-bottom: clamp(0.5rem, 0.143rem + 0.952vw, 1rem);
      margin-top: clamp(0.5rem, 0.143rem + 0.952vw, 1rem);
    }

    .simulateur-list {
        margin-left: clamp(0.5rem, -0.929rem + 3.81vw, 2.5rem);
    }

    .simulateur-list li {
        margin-bottom: clamp(0.5rem, 0.143rem + 0.952vw, 1rem);
    }
    .simulateur-list li::marker {
      color: $vert1; 
      font-size: 1.2em; 
    }

    .simulateur-list li:hover {
        color: $vert1
    }

    .cta-buttons {
      display: flex;
      justify-content: center;
      gap: clamp(0.8rem, 1.6vw, 1.2rem);
      margin-top: clamp(1rem, 2.4vw, 2rem);
    }

  }
}


