// ========================
// === SIDE MENU (global)
// ========================
@use "sass:color";
@use '../utils/variables' as *;
@use '../utils/mixins' as *;


.hero-section {
  padding: 1rem 1rem clamp(2rem, 1.78rem + 1.356vw, 3rem);
  color: $bleu;

  .hero-content {
    width: min(1100px, 92vw);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;

    @media (max-width: 912px) {
    grid-template-columns: 1fr;
    }
    
    .hero-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem 0;
      height: 100%;
      font-size: $p-size;
      line-height: 1.7;
    }
    
    .hero-image {
      display: flex;
      justify-self: flex-end;
      @include cpe-zoom-frame(8s, ease-in-out, true, 1.05, -2%, -2%);
      @include radius-cpe;
      overflow: hidden;
      box-shadow: $shadow-photo;
      width: clamp(17.5rem, 8.571rem + 23.81vw, 30rem);


      img {
        width: 100%;
        display: block;
        margin: 0 auto;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
    @media (max-width:933px){
      .hero-image {
        justify-self: center;
        margin-bottom: 1rem;
      }
    }
  }
  .objectif {
    width: 100%;
    text-align: center;
    font-size: $h4-size;
    font-weight: 700;
    padding-top: 0.5rem;
  }
}

