// ========================
// === IMPORT VARIABLES ===
// ========================
@use '../utils/variables' as *;




// ===========================
// = Section A qui s'adresse =
// ===========================
.audience-section {
  // background-color: $creme;
  padding: clamp(0.2rem, 3vw, 1.2rem) 1rem clamp(2rem, 3vw, 2rem);
  text-align: justify;

  .audience-container {
    width: min(1100px, 92vw); 
    margin: 0 auto;


    h2 {
      font-size: $h2-size;
      color: $vert1;
      margin-bottom: 2rem;
      font-family: $font-titles;
      text-align: left;
      line-height: clamp(2.2rem,5vw,3rem);
    }

    .audience-list {
      list-style: none;
      padding: 0;
      max-width: 900px;
      // margin: 0 auto;
      text-align: left;

      li {
        background: $background-vert-blanc;
        border-left: 4px solid $vert-border;
        border-top: 1px solid $vert-border-top;
        box-shadow: $shadow-defaut;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 6px;
        font-size: $p-size;
        line-height: 1.5;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        transition: background 0.25s ease, 
                    transform 0.25s ease, 
                    box-shadow 0.25s ease;

        &:hover {
          // background: rgba($bleu, 0.1);
          transform: translateX(5px);
          box-shadow: $shadow-hover;
          background: $background-vert-blanc-hover;
        }
      }
    }
  }
  
  // Responsive
  @media screen and (max-width: 768px) {
    .audience-section {
      text-align: left;
    }
  }
}


