// utils
@use "utils/variables" as *;
@use "utils/mixins" as *;

// pages
@use "pages/main" as *;
@use "pages/actualites" as *;

// components
@use "components/header" as *;
@use "components/side_menu" as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

