// utils
@use "utils/variables" as *;
@use "utils/mixins" as *;
@use "utils/base" as *;

// pages
@use "pages/main" as *;
@use "pages/actualites" as *;
@use "pages/definition" as *;
@use "pages/fonctionnement" as *;
@use "pages/typologies" as *;
@use "pages/avantages" as *;
@use "pages/reglementation" as *;
@use "pages/etapes" as *;
@use "pages/chiffres" as *;
@use "pages/financement" as *;
@use "pages/recommandations" as *;
@use "pages/glossaire" as *;
@use "pages/cgu" as *;
@use "pages/mentions" as *;
@use "pages/contact" as *;

// components
@use "components/header" as *;
@use "components/side_menu" as *;
@use "components/footer" as *;
@use "components/separation-section" as *;
@use "components/boutons" as *;
@use "components/next-cta" as *;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

